body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    height: 100vh;
    margin: 0;
}

header, footer {
    grid-column: 1 / 4;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    gap: 10px;
}

aside {
    grid-column: 1 / 2;
    padding: 10px;
}

main > div {
    grid-column: 2 / 3;
    padding: 10px;
}

nav {
    padding: 10px;
}